In [8]:
import pandas as pd

In [9]:
df = pd.read_excel("C:\\Users\\Utsav\\Desktop\\ITR\\Mama\\AY_2025_26\\Mama_Capital_Gain.xlsx")
df.head()

,Ticker,BuyDate,BuyAmt,SellDate,Sell Amt,STCG,LTCG,Total,GST,Brokerage,Misc,STT_CTT,TotalBrokerage,NetPnL
0,AAVAS Financiers Ltd,2024-01-01,10946.90,2024-07-19,12246.14,1299.24,0.0,1299.24,6.43,35.72,2.26,23.18,67.59,1276.06
1,AAVAS Financiers Ltd,2024-01-02,11044.21,2024-07-19,12246.14,1201.93,0.0,1201.93,6.43,35.72,2.28,23.28,67.71,1178.64
2,AAVAS Financiers Ltd,2024-02-06,4317.10,2024-07-19,5248.35,931.24,0.0,931.24,4.92,27.31,0.88,9.55,42.65,921.70
3,Asian Paints Ltd,2024-01-23,9260.38,2024-07-15,8882.05,-378.33,0.0,-378.33,5.70,31.67,1.81,18.13,57.31,-396.46
4,Asian Paints Ltd,2024-01-31,8896.40,2024-07-15,8882.05,-14.35,0.0,-14.35,5.70,31.67,1.73,17.77,56.86,-32.12

TypeError: NDFrame.where() missing 1 required positional argument: 'cond'