In [1]:
%matplotlib inline
import numpy as np
import numpy.ma as ma
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
import timeit
import line_profiler

import datetime

from io import StringIO
from pandas.api.types import CategoricalDtype

import pandas._testing as tm

## returns df from string data
def g(data):
    return pd.read_csv(StringIO(data))

In [2]:
s = pd.Series(['a','b','c','a'], dtype='category')
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [8]:
df = pd.DataFrame({'A':['a','b','c','a']})
df["B"] = df.A.astype('category')
df.B.dtypes

CategoricalDtype(categories=['a', 'b', 'c'], ordered=False)

In [12]:
pd.cut(np.array([1,2,3]), 3)
# range is 1-3 i.e 2 therefore 2/3 = 0.667 hence 1.-1.667-2.33,3.

[(1.996, 3.333], (3.333, 4.667], (4.667, 6.0]]
Categories (3, interval[float64]): [(1.996, 3.333] < (3.333, 4.667] < (4.667, 6.0]]

In [24]:
df = pd.DataFrame({"value": np.arange(10,101,10)})
labels = [f'{i} - {i+9}'for i in range(10,101,10)]
df['group'] = pd.cut(df.value, range(0,105,10), right=False, labels=labels)
df

   value      group
0     10    20 - 29
1     20    30 - 39
2     30    40 - 49
3     40    50 - 59
4     50    60 - 69
5     60    70 - 79
6     70    80 - 89
7     80    90 - 99
8     90  100 - 109
9    100        NaN

In [28]:
df = pd.DataFrame({"value": np.random.randint(0, 100, 20)})
labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]
df["group"] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df

    value    group
0      42  40 - 49
1      99  90 - 99
2      39  30 - 39
3      45  40 - 49
4       6    0 - 9
5      60  60 - 69
6      49  40 - 49
7      90  90 - 99
8      53  50 - 59
9      43  40 - 49
10     37  30 - 39
11     21  20 - 29
12     79  70 - 79
13     23  20 - 29
14     76  70 - 79
15      4    0 - 9
16     15  10 - 19
17     78  70 - 79
18     71  70 - 79
19     20  20 - 29

In [33]:
raw_cat = pd.Categorical(["a", "b", "c", "a"], categories=["b", "c", "d"], ordered=False)
s = pd.Series(raw_cat)
df = pd.DataFrame({"A": ["a", "b", "c", "a"]})
df['B'] = raw_cat
df

   A    B
0  a  NaN
1  b    b
2  c    c
3  a  NaN

In [111]:
splitter = np.random.choice([0, 1], 5, p=[0.4, 0.6])
s = pd.Series(pd.Categorical.from_codes(splitter, 
                            categories=["train", "test"]))
s

0     test
1    train
2     test
3     test
4     test
dtype: category
Categories (2, object): ['train', 'test']