In [1]:
%matplotlib inline
import numpy as np
import numpy.ma as ma
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
import timeit
import line_profiler

import datetime

from io import StringIO
from pandas.api.types import CategoricalDtype

import pandas._testing as tm

## returns df from string data
def g(data):
    return pd.read_csv(StringIO(data))

In [58]:
df1.combine_first(df)

   id  student student_y
0   1    Abbot     Doris
1   2    Doris     Abbot
2   3    Green   Emerson
3   4  Emerson     Green
4   5   Jeames       NaN

In [13]:
for i in range(0,11):
    print(f'{i} --> {i^1}')

0 --> 1
1 --> 0
2 --> 3
3 --> 2
4 --> 5
5 --> 4
6 --> 7
7 --> 6
8 --> 9
9 --> 8
10 --> 11

In [14]:
df_orders = pd.DataFrame({'id':[1,2,3],'model':['A1','A3','A6'], 'color':['Red','Blue','Green']})
df_billed = pd.DataFrame({'id':[1,6,7],'model':['A1','A7','B1'], 'color':['Purple','Pink','Red']})

In [15]:
df_orders

   id model  color
0   1    A1    Red
1   2    A3   Blue
2   3    A6  Green

In [16]:
df_billed

   id model   color
0   1    A1  Purple
1   6    A7    Pink
2   7    B1     Red

In [17]:
pd.merge(df_billed,df_orders,on='id',how='left',suffixes=('_order','_billed'))

   id model_order color_order model_billed color_billed
0   1          A1      Purple           A1          Red
1   6          A7        Pink          NaN          NaN
2   7          B1         Red          NaN          NaN

In [18]:
df_billed.combine_first(df_orders)

   id model   color
0   1    A1  Purple
1   6    A7    Pink
2   7    B1     Red

In [34]:
col_list = ['Task1','Task2']

df = pd.DataFrame({
    'Task Type':['Test1', 'Task1'],
    'val':[1,2]
})
df

  Task Type  val
0     Test1    1
1     Task1    2

In [35]:
if any(df['Task Type'].isin(col_list)):
    print('task')

task

In [32]:
any(df['Task Type'].isin(col_list))

False

In [40]:
dict1 = { "requestId": "32", "records": { "totalRecords": 5, "currentPageSize": 5, "currentPageNumber": 1 } }

j3 = dict1.get("records").get('totalRecords')
j3.head()

AttributeError: 'int' object has no attribute 'head'

In [51]:
df = pd.DataFrame({
    'orders':[4,0,0,0]
}, index=pd.date_range(start='2021.06.01', periods=4))

In [52]:
df = df.rename_axis('date').reset_index()
df

        date  orders
0 2021-06-01       4
1 2021-06-02       0
2 2021-06-03       0
3 2021-06-04       0

In [70]:
df = pd.DataFrame({
    'Name':list('ABCDEF'),
    'date':['2021-07-03', '2021-07-03', '2021-07-03',
                         '2021-08-01', '2021-08-01', '2021-08-01'],
    'address':['X','Y','Z','M','N','O']
})
df


df

  Name       date address
0    A 2021-07-03       X
1    B 2021-07-03       Y
2    C 2021-07-03       Z
3    D 2021-08-01       M
4    E 2021-08-01       N
5    F 2021-08-01       O

In [80]:
df['date'] = pd.to_datetime(df.date)
month_dataframe =  df[df.date.dt.month == pd.Timestamp('today').month]
month_dataframe

  Name       date address
0    A 2021-07-03       X
1    B 2021-07-03       Y
2    C 2021-07-03       Z

In [68]:
search = '2021-07'
month_dataframe = df[df["date"].str.contains(str(search))]
month_dataframe

  Name        date address
0    A  2021-07-03       X
1    B  2021-07-03       Y
2    C  2021-07-03       Z