In [3]:
def yieldk(num):
    for i in range(num):
        yield i

In [6]:
for i in yieldk(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
l = ['a', 'b']
' '.join(l)

'a b'

In [10]:
'a b'.split()

['a', 'b']

In [11]:
list('abc')

['a', 'b', 'c']

In [12]:
[i for i in 'abc']

['a', 'b', 'c']

In [14]:
set([1,2,3])

{1, 2, 3}

In [15]:
l = [1,2,1,2,1,2,1,1,3,1,2]
d = {}
for i in l:
    if i in d.keys():
        d[i] += 1
    else:
        d.setdefault(i,1) 
print(d)

{1: 6, 2: 4, 3: 1}

In [16]:
from collections import Counter
Counter(l)

Counter({1: 6, 2: 4, 3: 1})

In [19]:
import numpy as np
np.array([1,23,'a'])

array(['1', '23', 'a'], dtype='<U21')

In [21]:
np.empty(shape=(0,0))

array([], shape=(0, 0), dtype=float64)

In [23]:
l = ('a','g','v')
for val, count in enumerate(l):
    print(val, count)

0 a
1 g
2 v

In [28]:
fruits = ['apple', ['banana', 'cherry'], 'orange']
l = fruits.deepcopy()
l

AttributeError: 'list' object has no attribute 'deepcopy'

In [25]:
fruits[1][0]='kiwi'

In [26]:
fruits

['apple', ['kiwi', 'cherry'], 'orange']

In [32]:
l = [1,2,3,4,6,5]
l.sort()
l

[1, 2, 3, 4, 5, 6]

In [36]:
sorted(l)

[1, 2, 3, 4, 5, 6]

In [39]:
list(reversed(l))

[6, 5, 4, 3, 2, 1]

In [40]:
sum(range(1,101))

5050

In [48]:
a = 10
def test(val):
    global a
    a = val
    print(f'inner {a}')
    return a
print(test(20))
a

inner 20
20

20

In [42]:
test(20)

In [68]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'

print(names1, names2, names3)
for ls in names1, names2, names3:
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

['Alice', 'Bear', 'Charlton', 'Daman'] ['Alice', 'Bear', 'Charlton', 'Daman'] ['Amir', 'Bob', 'Charlton', 'Daman']
24

In [54]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

print(f'{id(names1), id(names2), id(names3)}')

(4493261312, 4493261312, 4472531776)

In [56]:
[1, 3, 2]*2

[1, 3, 2, 1, 3, 2]

In [57]:
np.mean([1,2,3])

2.0

In [1]:
sum([1, 2, 3, 4, 5])

15

In [2]:
def avgg(*args):
    return sum(args)/len(args)

avgg(1,2,3)

2.0

In [5]:
#+----+------------+-------------+
#| id | recordDate | temperature |
#+----+------------+-------------+
#| 1  | 2015-01-01 | 10          |
#| 2  | 2015-01-02 | 25          |
#| 3  | 2015-01-03 | 20          |
#| 4  | 2015-01-04 | 30          |
#+----+------------+-------------+

import pandas as pd

df = pd.DataFrame({
    'id':[1,2,3,4],
    'date':pd.date_range('2015.01.01', periods=4),
    'temp':[10,25,20,30]
})
df

   id       date  temp
0   1 2015-01-01    10
1   2 2015-01-02    25
2   3 2015-01-03    20
3   4 2015-01-04    30

In [12]:
df.id.where(df.temp > df.temp.shift().fillna(df.temp)).dropna().astype(int)

1    2
3    4
Name: id, dtype: int64