In [1]:
%matplotlib inline
import numpy as np
import numpy.ma as ma
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
import timeit
import line_profiler

from collections import deque, namedtuple

import datetime

from io import StringIO
from pandas.api.types import CategoricalDtype

import pandas._testing as tm
import re

# Regex

In [5]:
import re
p = re.compile('ab*')
p # re.compile(r'ab*', re.UNICODE)

re.compile(r'ab*', re.UNICODE)

In [6]:
re.UNICODE.value

32

In [29]:
p = re.compile('[a-t]+')
m = p.match("temupau")
print(m) # <re.Match object; span=(0, 3), match='tem'>

<re.Match object; span=(0, 3), match='tem'>

In [32]:
m.group() # 'tem'
m.start() # 0
m.end()   # 3
m.span()  # (0, 3)

(0, 3)

In [39]:
print(p.match('::: message')) # None
m = p.search('::: message'); print(m) #<re.Match object; span=(4, 11), match='message'>
m.group() #'message'
m.start() # 4
m.end() # 11
m.span() # (4, 11)

None
<re.Match object; span=(4, 11), match='message'>

(4, 11)

In [44]:
p = re.compile(r'[a-r]+')
m = p.match('ramesh tau')
if m:
    print('Matched', m.group())
else:
    print('No Match')
## Output - Matched rame

Matched rame

In [45]:
p = re.compile(r'\d+')
p.findall('12 drummers drumming, 11 pipers piping, 10 lords a-leaping')

['12', '11', '10']

In [49]:
p = re.compile(r'\d+')
iterator = p.finditer('12 drummers drumming, 11 pipers piping, 10 lords a-leaping')
for match in iterator:
    print(match.group())
    print(match.start())
    print(match.end())
    print(match.span())

12
0
2
(0, 2)
11
22
24
(22, 24)
10
40
42
(40, 42)

In [50]:
p = re.compile(r'[a-m]')
p.search('allubro')

In [4]:
print(re.match(r'From\s+', 'Fromage amk')) # None
print(re.match(r'From\s+', 'From 7 till 10')) # <re.Match object; span=(0, 5), match='From '>

None
<re.Match object; span=(0, 5), match='From '>

In [6]:
print(re.search(r'^From', 'From here to eternity')) # <re.Match object; span=(0, 4), match='From'>
print(re.search(r'^From', 'Reciting From Memory')) # None

<re.Match object; span=(0, 4), match='From'>
None

In [11]:
p = re.compile('\bclass\b')
print(p.search('This is my class')) # None
print(p.search('THis is declassified')) # None
print(p.search('One subclass at a time')) # None
print(p.search('\b' + 'class' + '\b')) # <re.Match object; span=(0, 7), match='\x08class\x08'>

None
None
None
<re.Match object; span=(0, 7), match='\x08class\x08'>

In [17]:
p = re.compile('(ab)*')
print(p.match('ababbbababb').span(1)) # (2, 4)

(2, 4)

In [23]:
p = re.compile('(a)b')
print(p.match('ab')) # <re.Match object; span=(0, 2), match='ab'>
m = p.match('ab')
print(m.group(0)) # ab
print(m.group(1)) # a

<re.Match object; span=(0, 2), match='ab'>
ab
a

In [30]:
p = re.compile('(a(b)c)d')
m = p.match('abcd')
m.group() # 'abcd'
m.group(1) # 'abc'
m.group(2) # b
m.group(2,1,2) # ('b', 'abc', 'b')
m.groups() # ('abc', 'b')

('abc', 'b')

In [38]:
p = re.compile(r'\b(\w+)\s+\1\b')
p.search('This is the the Paris').group() # 'the the'

'the the'

In [40]:
m = re.match("([abc])+", "abc")
m.groups() # ('c',)
m = re.match("(?:[abc])+", "abc")
m.groups() # ()

()

In [45]:
p = re.compile(r'\W+')
p.split('This is a test, short and sweet, of split().')
p.split('This is a test, short and sweet, of split().', 3)

['This', 'is', 'a', 'test, short and sweet, of split().']

In [46]:
p = re.compile(r'\W+')
p2 = re.compile(r'(\W+)')

p.split('This.... is a test.') # ['This', 'is', 'a', 'test', '']
p2.split('This.... is a test.') # ['This', '.... ', 'is', ' ', 'a', ' ', 'test', '.', '']

['This', '.... ', 'is', ' ', 'a', ' ', 'test', '.', '']

In [48]:
p = re.compile('(blue|white|red)', re.IGNORECASE)
p.sub('color', 'blue shocks and Red shoes', count=1) # 'color shocks and Red shoes'

'color shocks and Red shoes'

In [53]:
p = re.compile('(blue|white|red)', re.IGNORECASE)
p.subn('color', 'blue and red')
p.subn('color', 'blue and red', count=1)

('color and red', 1)

In [55]:
p = re.compile(r'x*')
p.sub('-', 'abxd cx')

'-a-b--d- -c--'

In [57]:
p = re.compile('section{ ( [^}]* ) }', re.VERBOSE)
p.sub(r'subsection{\1}','section{First} section{second}')

'subsection{First} subsection{second}'

# re - https://docs.python.org/3/library/re.html

In [12]:
print(re.match(r'<.*?>','<a> b <c>').group())

<a>

In [25]:
re.search(r'(?<=abc)def','abcdef').group() # 'def'
re.search(r'(?<=-)\w+','ram-sam').group() # 'sam'

## get all elements after first match
re.findall(r'(?<=-)\d+','879-14-54') # ['14', '54']
'879-14-54'.split('-')[1:]

['14', '54']

In [26]:
re.findall(r'(?!-)\d+','879-14-54') # ['879', '14', '54']
'879-14-54'.split('-')

['879', '14', '54']

In [29]:
'879-14-54'.split('-')

['879', '14', '54']

In [30]:
text = "He was carefully disguised but captured quickly by police."
re.findall(r'\w+ly',text)

['carefully', 'quickly']

# 3. An Informal Introduction to Python

Fibonacci

In [2]:
l = [0,1]
for i in range(1,9):
    x = l[-1] + l[-2]
    l.append(x)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [8]:
i=0
l=[0,1]
while i<8:
    x = l[-1] + l[-2]
    l.append(x)
    i += 1
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [16]:
import functools

@functools.lru_cache(None)
def fib(n):
    if n < 2:
        return n
    return fib(n-1) + fib(n-2)

fib(10)

55

In [2]:
for i in range(2,10):
    for j in range(2, i):
        if i%j==0:
            print (i, "equals", j, '*', i//j)
            break
    else:
        print(i,  " is a prime number")

2  is a prime number
3  is a prime number
4 equals 2 * 2
5  is a prime number
6 equals 2 * 3
7  is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [64]:
## Check if a number is prime
def check_prime(x):
    if not isinstance(x, list):
        if isinstance(x, tuple):
            x=list(x)
        else:
            x=[x]
    for v in x:
        for i in range(2,v//2+1):
            if v % i == 0:
                print(v, ' Not prime')
                break
        else:
            print(v, ' Prime')
        

check_prime(11)

11  Prime

In [66]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [69]:
ask_ok('OK to overwrite the file?', 2, 'Come on, only yes or no!')

OK to overwrite the file?yes

True

In [76]:
def f(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
f(1)
f(2)

[2]

In [31]:
import math
def countPrime(n):
    if n < 0:
        ValueError('Enter a positive number')
    if 0<=n<2:
        return 0
    count=0
    for i in range(2,n+1):
        for j in range(2,int(math.sqrt(i))+1):
            if i%j == 0:
                break
        else:
            print(i)
            count += 1
    return count
        
countPrime(2)

2

1

In [ ]:
import math
def countPrime(m=0,n=1s):
    if n < 0:
        ValueError('Enter a positive number')
    if 0<m<2<n:
        return 0
    count=0
    for i in range(m,n+1):
        for j in range(2,int(math.sqrt(i))+1):
            if i%j == 0:
                break
        else:
            print(i)
            count += 1
    return count

In [3]:
{'one':1, 'two':2, 'one':3}

{'one': 3, 'two': 2}

In [4]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [6]:
cheeseshop('Bread',
          "This is what we need",
          "This is what we want",
          shopkeeper="Michael Palin",
          client="John Cleese",
          sketch="Cheese Shop Sketch",)

-- Do you have any Bread ?
-- I'm sorry, we're all out of Bread
This is what we need
This is what we want
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

In [14]:
def all_func_types(pos, defl=10, **kwargs):
    print("This is positional ", pos, " and keyword from calling")
    print("This is default ", defl)
    print('*'*40)
    print('This is args ', pos)
    print('*'*40)
    print('This is kwargs ', kwargs)

In [16]:
all_func_types(pos='position and keyword',
              defl = 20,
              tale="Let's get this done")

This is positional  position and keyword  and keyword from calling
This is default  20
****************************************
This is args  position and keyword
****************************************
This is kwargs  {'tale': "Let's get this done"}

In [23]:
def foo(name, **kwds):
    return 'name' in kwds
foo(10, name="11th") # TypeError: foo() got multiple values for argument 'name'


def foo(name, /, **kwds):
    return 'name' in kwds
foo(10, name='Ramesh')

True

In [33]:
def concat(*args,sep='/'):
    return sep.join(args)

concat('Ram','Suresh', 'Chandu')
concat('Ram','Suresh', 'Chandu', sep=',')

'Ram,Suresh,Chandu'

In [42]:
list(range(2,5)) # [2, 3, 4]
l=[2,5]
list(range(*l)) # [2, 3, 4]

[2, 3, 4]

In [50]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")
    
d = {'voltage':100, 'state':'not stiff', 'action':'boom'}
parrot(**d)

-- This parrot wouldn't boom if you put 100 volts through it. E's not stiff !

In [56]:
# below function returns an anonymous function
def make_incrementor(n):
    return lambda x: x + n

# f is a function which holds anonymous function and takes 
# one parameter x whereas the value of n is fixed to 42.
f = make_incrementor(42)


f(0)
f(1)

43

In [60]:
## Sort by value
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda x:x[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [63]:
pairs = [[1, 'one'], [2, 'two'], [3, 'three'], [4, 'four']]
dict(pairs)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [66]:
def f(ham: str, eggs: str = 'eggs') -> str:
    print("Annotations:", f.__annotations__)
    print("Arguments:", ham, eggs)
    return ham + ' and ' + eggs

f('Ramesha')

Annotations: {'ham': <class 'str'>, 'eggs': <class 'str'>, 'return': <class 'str'>}
Arguments: Ramesha eggs

'Ramesha and eggs'

# Strings

In [6]:
str.casefold('ramesh')
'Ramesh'.casefold()

'ranesh'

In [9]:
str.capitalize('ramesh')
'ramesh'.capitalize()

'Ramesh'

In [18]:
'Ramesh kumar'.center(20,'z')

'zzzzRamesh kumarzzzz'

In [21]:
'Rameeeeesh'.count('e', 2, 6) # 3

3

In [32]:
'Ramesh'.endswith('h') # True
'Ramesh'.endswith('s') # False
'Ramesh'.endswith(('l','h')) # True
'Ramesh'.endswith(('l','h')) # True
'Ramesh'.endswith('h', 4) # True ## start=4
'Ramesh'.endswith('m', 0, 3) # True

True

In [6]:
'01\t012\t0123\t01234'.expandtabs()
'01\t012\t0123\t01234'.expandtabs(2)

'01  012 0123  01234'

In [15]:
'ramesh '.join('Suresh') # 'Sramesh uramesh rramesh eramesh sramesh h'
' '.join(['Ramesh', 'Suresh']) # 'Ramesh Suresh'

'Ramesh Suresh'

In [6]:
'test'.ljust(6,'a') # testaa
'test'.ljust(6,' ') # 'test  '

'test  '

In [10]:
'www.example.com'.strip('cmowz.')

'example'

In [19]:
'Ramesh Suresh Chandu'.strip('Rameshnduresh ')

'Suresh C'

In [1]:
str.maketrans('Ramesh', 'Suresh') # {82: 83, 97: 117, 109: 114, 101: 101, 115: 115, 104: 104}

{82: 83, 97: 117, 109: 114, 101: 101, 115: 115, 104: 104}

In [12]:
'Ramesh-Suresh-Chandu'.partition('-') # ('Ramesh', '-', 'Suresh-Chandu')
'Ramesh-Suresh-Chandu'.split('-') # ['Ramesh', 'Suresh', 'Chandu']

['Ramesh', 'Suresh-Chandu']

In [11]:
'Ramesh'.replace('Ram','Sur') # 'Suresh'

'Suresh'

In [13]:
'Ramesh-Suresh-Chandu'.split('-', maxsplit=1) # ['Ramesh', 'Suresh-Chandu']

['Ramesh', 'Suresh-Chandu']

In [14]:
'Ramesh'.swapcase() # 'rAMESH'

'rAMESH'

In [46]:
r='Ram'
print(f'{(lambda x,y: x+y)} is shyam')

<function <lambda> at 0x1095b0ee0> is shyam

In [53]:
>>> name = "Fred"
>>> f"He said his name is {name!r}." # "He said his name is 'Fred'."
>>> f"He said his name is {name!s}." # 'He said his name is Fred.'
>>> f"He said his name is {name!a}." # 'He said his name is 'Fred'.'

"He said his name is 'Fred'."

In [60]:
print('{:,}'.format(1000000))
print(f'{10000000:,}')

1,000,000
10,000,000

In [4]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.pop() # 'banana'
print(fruits) # ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

In [5]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.sort() ## Sorting is inplace
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [10]:
l = [10, None, 'Ramesh']
#l.sort() # TypeError: '<' not supported between instances of 'NoneType' and 'int'

l = [10, 'Ramesh']
#l.sort() # TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
from collections import deque

d = deque('ghi')
for element in d:
    print(element.upper())
    
d.append('j')
d.appendleft('f')
d.pop()
d.popleft()
list(d)
d[0]
d[-1]
list(reversed(d))

'h' in d
d.extend('jkl')
d.rotate(1)
d.rotate(-1)

deque(reversed(d))
d.clear()
#d.pop() # IndexError: pop from an empty deque

d.extendleft('abc')
d

G
H
I

deque(['c', 'b', 'a'])

In [52]:
def tail(filename, n=10):
    """Return the last n lines from a file"""
    with open(filename) as f:
        return deque(f, n)
    
tail('te.csv', 5)

['2021-05-19 09:00:00,19.91,Nan\n',
 '2021-05-19 09:30:00,0.11,Nan\n',
 '2021-05-19 10:00:00,0.00,Nan\n',
 '2021-05-19 10:30:00,22.99,Nan\n',
 '2021-05-19 11:00:00,0.00,Nan"""']

In [47]:
# deque list, set, tuple, dict
deque([1,2,3,4,5], 2) # deque([4, 5])
deque({1,2,3,4,5}, 2) # deque([4, 5])
deque((1,2,3,4,5), 2) # deque([4, 5])
deque({1:'a', 2:'b', 3:'c'}, 2) # deque([2, 3])

deque([2, 3])

In [83]:
import itertools
def moving_averages(iterable, n=3):
    it = iter(iterable)
    d = deque(itertools.islice(it, n-1))
    d.appendleft(0)
    s=sum(d)
    print(d, s)
    for elem in it:
        print('elem', elem)
        s += elem - d.popleft()
        d.append(elem)
        print('deq', d)
        yield s / n
    
for i in moving_averages([10,20,30,40,50,60], 3):
    print(i)

deque([0, 10, 20]) 30
elem 30
deq deque([10, 20, 30])
elem 40
deq deque([20, 30, 40])
elem 50
deq deque([30, 40, 50])
elem 60
deq deque([40, 50, 60])

In [33]:
def roundrobin(*iterables):
    iterators = deque(map(iter, iterables))
    print(iterators)
    while iterators:
        try:
            while True:
                yield next(iterators[0])
                iterators.rotate(-1)
        except StopIteration:
            # Remove an exhausted iterator
            iterators.popleft()

for elem in roundrobin('ABC', 'D', 'EF'):
    print(elem)

deque([<str_iterator object at 0x11e6fff10>, <str_iterator object at 0x11e6ff4f0>, <str_iterator object at 0x11e6ff520>])
A
D
E
B
F
C

In [146]:
class stack:
    l=[]
    def __repr__(self):
        return str(l)
        
    def push(self, element):
        l.append(element)
    
    def pop(self):
        if len(l) > 0:
            l.pop()
        else:
            raise ValueError('Stack is empty')

s = stack()
s.pop()

In [160]:
vec = [[1,2,3], [4,5,6], [7,8,9]]

In [164]:
np.ravel(vec) # array([1, 2, 3, 4, 5, 6, 7, 8, 9])
[j for i in vec for j in i] # [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
from math import pi
[round(pi, i) for i in range(1, 6)]

[3.1, 3.14, 3.142, 3.1416, 3.14159]

In [253]:
matrix = [
[1, 2, 3, 4],
[5, 6, 7, 8],
[9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [261]:
# raze, np.ravel a list
[j for i in matrix for j in i]

# List Comprehension of list comprehension to transpose a matrix
[[row[i] for row in matrix] for i in range(len(matrix[0]))]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [266]:
list(zip('abcd','xy','zmkd'))

[('a', 'x', 'z'), ('b', 'y', 'm')]

In [2]:
a='abcd'
b='xy'
c='zmkd'
def zzip(*vals):
    l = list(vals)
    return [tuple([val[i] for val in l]) for i in range(min([len(i) for i in l]))]

zzip(a,b,c)

('abcd', 'xy', 'zmkd')

[('a', 'x', 'z'), ('b', 'y', 'm')]

In [3]:
import sys
isinstance(sys.float_info, tuple)

True

In [9]:
Point = namedtuple('Point', 'x y')
p = Point(11, y=22) # instantiate with positional or keyword arguments
p # Point(x=11, y=22) ## readable __repr__ with a name=value style

p[0] + p[1] # 33 # indexable like the plain tuple (11, 22)

x,y=p # # unpack like a regular tuple
x,y # (11, 22)
x # 11

p.x + p.y # 33 # fields also accessible by name

33

In [14]:
l=[1,2,3,4]
l[-0]

1

In [22]:
st='Ramesh'
st+' '+st

'Ramesh Ramesh'

In [24]:
st.join(st)

'RRameshaRameshmRamesheRameshsRameshh'

In [31]:
hash((1,2,3)) # 529344067295497451
hash((1,2,3)) # TypeError: unhashable type: 'list'

529344067295497451

In [30]:
l = list(range(11,15))
l *= 3
l

[11, 12, 13, 14, 11, 12, 13, 14, 11, 12, 13, 14]

In [31]:
l.remove(12)

In [38]:
del l[1]

In [56]:

#l.append(21)
l

[14, 13, 12, 11, 21]

In [73]:
def rev(l):
    for i in range(len(l)//2):
        l[i],l[-i-1] = l[-i-1],l[i]

rev(l)

In [74]:
%timeit l.reverse()

62.8 ns  0.322 ns per loop (mean  std. dev. of 7 runs, 10000000 loops each)

In [75]:
%timeit rev(l)

753 ns  14.5 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [70]:
def reverseList(A, start, end):
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1

In [76]:
%timeit reverseList(l,0,4)

536 ns  1.85 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [114]:
import string
l = ['b','c','C','B','a', 'A']
l.sort(key=string.ascii_letters.index) # ['a', 'b', 'c', 'A', 'B', 'C']

l.sort(key=lambda x: (x.isupper(), x)) # ['a', 'b', 'c', 'A', 'B', 'C']
l.sort(key=lambda x: x.isupper()) # ['b', 'c', 'a', 'C', 'B', 'A']

l.sort(key=lambda x: (x.islower(), x)) # ['A', 'B', 'C', 'a', 'b', 'c'], same as without key default behaviour
l.sort(key=lambda x: x.islower()) # ['C', 'B', 'A', 'b', 'c', 'a']

['C', 'B', 'A', 'b', 'c', 'a']

In [98]:
lambda x: x.isupper()

In [100]:
arr=['A','e','a','D','f','B']
arr.sort(key=lambda x: (x.isupper(), x))
arr

['a', 'e', 'f', 'A', 'B', 'D']

In [104]:
arr=['A','e','a','D','f','B']
sorted_arr = sorted(arr, key=lambda x: (x.isupper(), x))
sorted_arr

['a', 'e', 'f', 'A', 'B', 'D']

In [103]:
arr

['A', 'e', 'a', 'D', 'f', 'B']

In [118]:
arr[-5::-1]

['e', 'A']

In [177]:
def f(n):
    if n in (0,1):
        return 1
    else:
        return (f(n-1) + f(n-2))

In [201]:
%timeit for i in range(10): f(i)

40 s  897 ns per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [195]:
def fib(n):
    t = [0,1]
    for i in range(n-2):
        t.append(t[-1] + t[-2])
    #return t

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [202]:
%timeit fib(10)

1.56 s  25.4 ns per loop (mean  std. dev. of 7 runs, 1000000 loops each)

In [4]:
s = {1,2,3}
print(id(s))
s.add(4)
print(id(s))

4886064480
4886064480

In [6]:
a=10
b=20
print(id(a), id(b))
a,b=b,a
print(id(a), id(b))
print(a, b)

4415507024 4415507344
4415507344 4415507024
20 10

In [10]:
dict([('one',1), ('two',2), ('three',3)])

{'one': 1, 'two': 2, 'three': 3}

In [13]:
# Inheriting dict class
class Counter(dict):
    def __missing__(self, key):
        return 0

c = Counter()
c['red']
c['red'] = 'Ramesh'
c

{'red': 'Ramesh'}

In [15]:
x = iter(c)
next(x)

'red'

In [27]:
a=10
print(id(a))
d = {'a': a}
print(id(d['a']))
print(id(d.values()))
id(d.values())

4415507024
4415507024
4906266336

4907929312

In [43]:
d
e = {'b':20, 'a':30}
d |= e

In [18]:
dishes = {'eggs': 2, 'sausage': 1, 'bacon': 1, 'spam': 500}
keys = dishes.keys()
keys # dict_keys(['eggs', 'sausage', 'bacon', 'spam'])

values = dishes.values()
values # dict_values([2, 1, 1, 500])

dishes.items() # dict_items([('eggs', 2), ('sausage', 1), ('bacon', 1), ('spam', 500)])

# iteration

n=0
for val in values:
    n += val
    print(n)

504

In [20]:
import types

mpt = types.MappingProxyType({'a':1, 'b':2})
mpt['c']=3 # TypeError: 'mappingproxy' object does not support item assignment

TypeError: 'mappingproxy' object does not support item assignment

In [21]:
>>> import math
>>> raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for d in raw_data:
    if not math.isnan(d):
        filtered_data.append(d)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [33]:
a=10
b=30
c=30
a < b == True # is equivalent to a < (b==True)

False

In [34]:
a=10
b=20
c=True
a == b and c # False is equivalent to (a == b) and c

False

In [59]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
string1 and string2 and string3 # ''
string2 and string3 ## 'Hammer Dance', if not empty '' then output is last evaluated value

string2 or string3## 'Trondheim', first evaluated value

'Trondheim'

In [45]:
'a' and 'b' # b -- 'and' means greater, opposite of what it(&) means in kdb
'a' or 'b' # a  -- 'or' means lesser, opposite of what it(&) means in kdb

'a'

In [75]:
# If compared elements are equal then compares next element
(1, 2, 3)              < (1, 2, 4) # True
[1, 2, 3]              < [1, 2, 4] # True
'ABD' < 'C' < 'Pascal' < 'Python' # True
(1, 2, 3, 4)           < (1, 2, 4) # # True
(1, 2)                 < (1, 2, -1) # True
(1, 2, 3)             == (1.0, 2.0, 3.0) # True
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4) # # True

True

# 6. Modules

In [76]:
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
fib(5)

0 1 1 2 3

In [77]:
def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result
fib2(5)

[0, 1, 1, 2, 3]

In [93]:
# Fibonacci numbers module
def fib(n):
    def rec_fib(n1):
        if n1 in [0,1]:
            return n1
        else:
            return rec_fib(n1-1) + rec_fib(n1-2)
    
    for i in range(n):
        print(rec_fib(i), end=' ')
        
fib(5)

0 1 1 2 3

In [95]:
def fib2(n:int) -> list:
    fib_list = [0,1]
    for i in range(n-2):
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

fib2(5)

[0, 1, 1, 2, 3]

In [96]:
def fib2(n:int) -> list:
    fib_list = [0,1]
    for i in range(n-2):
        fib_list.append(fib_list[-1] + fib_list[-2])
    print(fib_list)
    return fib_list

fib2(5)

[0, 1, 1, 2, 3]

[0, 1, 1, 2, 3]

In [58]:
df= pd.DataFrame({'Name':                          
     ['Anthony Frank Hawk',         
     'John Rodney Mullen',             
     'Robert Dean Silva Burnquis',
     'Geoffrey Joseph Rowley']})
df

                         Name
0          Anthony Frank Hawk
1          John Rodney Mullen
2  Robert Dean Silva Burnquis
3      Geoffrey Joseph Rowley

In [63]:
df['temp'] = df.Name.str.split().str[:2].str.join(' ')
df

                         Name             temp
0          Anthony Frank Hawk    Anthony Frank
1          John Rodney Mullen      John Rodney
2  Robert Dean Silva Burnquis      Robert Dean
3      Geoffrey Joseph Rowley  Geoffrey Joseph

In [56]:
df['temp'] = df.Name.str.rpartition().get(0)
df

                         Name               temp
0          Anthony Frank Hawk      Anthony Frank
1          John Rodney Mullen        John Rodney
2  Robert Dean Silva Burnquis  Robert Dean Silva
3      Geoffrey Joseph Rowley    Geoffrey Joseph

In [2]:
200_000 / 10_000

20.0

In [12]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print(f'Jack:{table["Jack"]} and Sjoerd:{table["Sjoerd"]} and Dcab:{table["Dcab"]}')
print('Jack:{Jack: } and Sjoerd:{Sjoerd} and Dcab:{Dcab}'.format(**table))

Jack:4098 and Sjoerd:4127 and Dcab:8637678
Jack: 4098 and Sjoerd:4127 and Dcab:8637678

In [14]:
for x in range(1,11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [22]:
s

1   1     1
2   4     8
3   9    27
4   16   64
5   25  125
6   36  216
7   49  343
8   64  512
9   81  729
10 100 1000

In [5]:
import time
class B(Exception):
    print("BB")

class C(B):
    print("CC")

class D(C):
    print("DD")

for cls in [B, C, D]:
    try:
        time.sleep(2)
        raise cls()
    except D:
        print("D")
    except B:
        print("B")

BB
CC
DD
B
B
D

In [14]:
def divide(x,y):
    try:
        result = x/y
    except ZeroDivisionError:
        print('Div by 0 is not allowed')
    else:
        print('result is', result)
    finally:
        print('finally arrived')
        return "saving failure"

In [16]:
divide("10","2")

finally arrived

'saving failure'

In [18]:
try:
    10/10
finally:
    print('Run')

Run

In [5]:
import sys
try:
    raise IOError
except IOError as exc:
    tb = sys.exc_info()[2]
    raise RuntimeError().with_traceback(tb) from exc

RuntimeError:

In [6]:
df = pd.DataFrame({
'group': ['A','B','C','D'],
'var1': [38, 1.5, 30, 4],
'var2': [29, 10, 9, 34],
'var3': [8, 39, 23, 24],
'var4': [7, 31, 33, 14],
'var5': [28, 15, 32, 14]
})

df.set_index('group', inplace=True)
df

       var1  var2  var3  var4  var5
group
A      38.0    29     8     7    28
B       1.5    10    39    31    15
C      30.0     9    23    33    32
D       4.0    34    24    14    14

In [11]:
lst = ['A','C']
df.style.apply(lambda x: ['background: red' if (set(lst).intersection(x.values)) 
                              else '' for i in x], 
                   axis=0)

In [12]:
import pandas as pd
df = pd.DataFrame({'Reference':["PO: TK42-8", 
                                "PO GQ5-42", 
                                "PO:HEA-238/239", 
                                "PO: 4501005609  Purchaser: Mariana Toledo Blanco", 
                                "FITN7-26", 
                                "PO#CP4-62",
                                "PO 4501004752  Purchaser Yang Gao / Split from S94964",
                                "GUANGDONG YOULONG ELECTRICAL APPLIANCES CO.,LTD // PO#GQY6-17"]
                   })
df

                                           Reference
0                                         PO: TK42-8
1                                          PO GQ5-42
2                                     PO:HEA-238/239
3   PO: 4501005609  Purchaser: Mariana Toledo Blanco
4                                           FITN7-26
5                                          PO#CP4-62
6  PO 4501004752  Purchaser Yang Gao / Split from...
7  GUANGDONG YOULONG ELECTRICAL APPLIANCES CO.,LT...

In [13]:
df2 = pd.DataFrame({'Reference':["PO: TK42-8", 
                                "PO GQ5-42", 
                                "PO:HEA-238/239", 
                                "PO: 4501005609  Purchaser: Mariana Toledo Blanco", 
                                "FITN7-26", 
                                "PO#CP4-62",
                                "PO 4501004752  Purchaser Yang Gao / Split from S94964",
                                "GUANGDONG YOULONG ELECTRICAL APPLIANCES CO.,LTD // PO#GQY6-17"],
                    
                    "PO":["TK42-8", "GQ5-42", "HEA-238/239", "4501005609", "FITN7-26","CP4-62", "4501004752", "GQY6-17" ],
                    "Purchaser":["", "", "", "Mariana Toledo Blanco", "","", "Yang Gao", "" ],
                   })
df2

,Reference,PO,Purchaser
0,PO: TK42-8,TK42-8,
1,PO GQ5-42,GQ5-42,
2,PO:HEA-238/239,HEA-238/239,
3,PO: 4501005609 Purchaser: Mariana Toledo Blanco,4501005609,Mariana Toledo Blanco
4,FITN7-26,FITN7-26,
5,PO#CP4-62,CP4-62,
6,PO 4501004752 Purchaser Yang Gao / Split from...,4501004752,Yang Gao
7,"GUANGDONG YOULONG ELECTRICAL APPLIANCES CO.,LT...",GQY6-17,

In [12]:
def scope_test():
    def do_local():
        spam = "local spam"
    
    def do_nonlocal():
        nonlocal spam
        spam = "non local spam"
    
    def do_global():
        global spam
        spam = "global spam"
        
    spam = "test spam"
    do_local()
    print('After doing local assignment:', spam)
    do_nonlocal()
    print('After doing nonlocal assignment:', spam)
    do_global()
    print('After doing global assignment:', spam)
   
scope_test()
print('In the global space:', spam)

After doing local assignment: test spam
After doing nonlocal assignment: non local spam
After doing global assignment: non local spam
In the global space: global spam

In [13]:
A = [2, 3, 1, 2, 4, 1, 5, 3, 1, 7, 5]
B = [0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0]
df = pd.DataFrame({'A':A, 'B':B})
df

    A  B
0   2  0
1   3  1
2   1  1
3   2  1
4   4  0
5   1  0
6   5  1
7   3  1
8   1  1
9   7  0
10  5  0

In [25]:
df1 = df.groupby((df['B'].shift() != df['B']).cumsum()).mean().reset_index(drop=True)
df1 = df1[df1['B'] == 1].astype(int).reset_index(drop=True)
df1

   A  B
0  2  1
1  3  1

In [4]:
def go_glocal():
    spam = 'Ramesh'
    
    def inner():
        spam = 'local'
        
    def middle():
        nonlocal spam 
        spam = 'nonlocal'
        
    def outer():
        global spam 
        spam = 'global'
        
    print('calling inner')
    inner()
    print('local var', spam)
    
    print('calling middle')
    middle()
    print('nonlocal var', spam)
    
    print('calling global')
    outer()
    print('global var', spam)
    
go_glocal()
print('outer most', spam)

calling inner
local var Ramesh
calling middle
nonlocal var nonlocal
calling global
global var nonlocal
outer most global

In [5]:
class MyClass:
    """A simple class example"""
    i = 12345
    
    def f(self):
        return 'anything'

In [6]:
x = MyClass()

12345

In [9]:
MyClass().f()

'anything'

In [12]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart
        
x = Complex(3, 4.5)
x.r, x.i # (3, 4.5)

(3, 4.5)

In [16]:
x.counter = 1
while x.counter < 10:
    x.counter = x.counter * 2
    print('inner', x.counter)
print(x.counter)
del x.counter

inner 2
inner 4
inner 8
inner 16
16

In [19]:
x = MyClass()
xf = x.f
xf()

'anything'

In [20]:
x = MyClass()
MyClass.f(x) # 'anything'

'anything'

In [2]:
class DogType:
    
    type = 'German'
    
    def __init__(self, name):
        self.name = name

In [3]:
d = DogType('Danny')
e = DogType('Bruzo')

print(d.type) # German
print(e.type) # German

print(d.name) # Danny
print(e.name) # Bruzo

German
German
Danny
Bruzo

In [17]:
class Dog:
    
    def __init__(self, name):
        self.name = name
        self.tricks = []
        
    def add_trick(self, trick):
        self.tricks.append(trick)

In [19]:
d = Dog('Dany')
e = Dog('Bruzo')

d.add_trick('Sensible')
e.add_trick('Fast')

e.tricks # ['Fast']
d.tricks # ['Sensible']

['Sensible']

In [22]:
class Warehouse:
    purpose = 'storage'
    region = 'west'

In [26]:
w1 = Warehouse()
w1.purpose, w1.region # ('storage', 'west')

w2 = Warehouse()
w2.region = 'north'
w2.purpose, w2.region # ('storage', 'north')

w1.purpose, w1.region # ('storage', 'west')

('storage', 'west')

In [35]:
def f1(self, x, y):
    return min(x,y)

class C:
    f=f1
    def g(self):
        return 'Nothing'
    h=g

In [36]:
c = C()
c.f(10,20)
c.g() # 'Nothing'
c.h() # 'Nothing'
#c.f1() # AttributeError: 'C' object has no attribute 'f1'

'Nothing'

In [40]:
class Bag:
    def __init__(self):
        self.data = []
        print(id(self))
    def add(self, x):
        self.data.append(x)
    def addtwice(self, x):
        self.add(x)
        self.add(x)

In [43]:
b = Bag()
print(f'Out - {id(b)}')
b.add(1)
b.addtwice(2)
b.data

4796300832
Out - 4796300832

[1, 2, 2]

In [47]:
class Base:
    def getNum(self):
        return 10
    
    def callOther(self):
        return self.getNum()
    
class Derived(Base):
    def getNum(self):
        return 20
    def callOther(self):
        return self.getNum()

In [50]:
b = Base()
print(b.callOther())
d = Derived()
print(d.callOther())

b = Base()
b.getNum.__self__
b.getNum.__func__

10
20

In [31]:
issubclass(bool, int)
isinstance(object, int)

False

In [43]:
class Mapping:
    def __init__(self, iterable):
        self.items_list = []
        self.__update(iterable)
        
    def update(self, iterable):
        for item in iterable:
            self.items_list.append(item)
        print(self.items_list)
    
    __update = update # private copy of original update method
    
class MappingSubclass(Mapping):
    def update(self, keys, values):
        # provides new signature for update()
        # but does not break __init__()
        for item in zip(keys, values):
            self.items_list.append(item)
        print(self.items_list)

In [44]:
m = Mapping([1,2,3, 4,5,6])
m.update([40,50,60])

c = MappingSubclass([1,2,100])
c.update([100,200], [300,400])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 40, 50, 60]
[1, 2, 100]
[1, 2, 100, (100, 300), (200, 400)]

In [45]:
class Employee:
    pass

john = Employee() # Create an empty employee record

# Fill the fields of the record
john.name = 'John'
john.dept = 'computer lab'
john.salary = 1000

john.salary # 1000

In [6]:
s = 'abc'

it = iter(s)
it

next(it) # 'a'
next(it) # 'b'
next(it) # 'c'
next(it) # StopIteration

StopIteration:

In [8]:
class Reverse:
    """Iterator for looping over a sequence backwards."""
    def __init__(self, data):
        self.data = data
        self.index = len(self.data)

    def __iter__(self):
        return self
    
    def __next__(self):
        if self.index == 0:
            raise StopIteration
        self.index = self.index - 1
        return self.data[self.index]

In [10]:
rev = Reverse('spam')
iter(rev)
for char in rev:
    print(char)

m
a
p
s

In [23]:
class Iterate:
    """Iterate over the containers"""
    def __init__(self, data):
        self.data = data
        self.startIndex = 0
        self.index = len(self.data)
        
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.startIndex >= self.index:
            raise StopIteration
        retData = self.data[self.startIndex]
        self.startIndex += 1
        return retData

In [24]:
it = Iterate('spam')
iter(it)
for char in it:
    print(char)

s
p
a
m

In [29]:
def reverse(data):
    for index in range(len(data)-1,-1,-1):
        yield data[index]

In [30]:
for char in reverse('golf'):
    print(char, end=' ')

f l o g

In [32]:
for i in range(3,-1,-1):
    print(i)

3
2
1
0

In [41]:
def gen():
    for i in range(100):
        yield i

In [42]:
for i in gen():
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [40]:
print(gen())

0

In [47]:
sum(i*i for i in range(10)) # sum of squares

xvec = [10, 20, 30]
yvec = [7,5,3]
sum(x*y for x,y in zip(xvec, yvec)) # dot product

unique_words = set(word for line in page for word in line.split())
valedictorian = max((student.gpa, student.name) for student in graduates)

260

In [49]:
data = 'golf'
list(data[i] for i in range(len(data)-1,-1,-1)) # ['f', 'l', 'o', 'g']

['f', 'l', 'o', 'g']

In [75]:
import math

math.cos(math.pi / 4)
math.log(1024, 2)

10.0

In [197]:
import random
random.choice(['apple', 'pear', 'banana'])
random.sample(range(100), 10)
random.random()
random.randrange(6)

3

In [202]:
import statistics

data = [2.75, 1.75, 1.25, 0.25, 0.5, 1.25, 3.5]
statistics.mean(data)
statistics.median(data)
statistics.variance(data)
statistics.stdev(data)

1.171334200612195

In [204]:
import datetime
datetime.date.today()
datetime.datetime.now()

datetime.datetime(2021, 7, 16, 7, 2, 20, 48955)

In [212]:
birthday = datetime.date(1989, 12, 25)
age = datetime.date.today() - birthday
age.days

11526

In [235]:
import datetime

delta = datetime.timedelta(
    days = 50,
    seconds = 27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2
)

delta

datetime.timedelta(days=64, seconds=29156, microseconds=10)

In [236]:
pd.__version__

'1.2.4'

In [237]:
df1 = pd.DataFrame({
    'c1':[1,2],
    'c2':[3,4]
})

df2 = pd.DataFrame({
    'c1':[10,20],
    'c2':[30,40]
})

df1.merge(df2, how='cross')

   c1_x  c2_x  c1_y  c2_y
0     1     3    10    30
1     1     3    20    40
2     2     4    10    30
3     2     4    20    40

In [4]:
datetime.datetime(2021,1,1, 15, 14, 20) + datetime.timedelta(hours=-5) # datetime.datetime(2021, 1, 1, 10, 14, 20)

datetime.datetime(2021, 1, 1, 10, 14, 20)

In [13]:
from datetime import timedelta
delta1 = timedelta(seconds=57)
delta2 = timedelta(hours=25, seconds=2)

delta2 != delta1 # True
delta2 == 5 # False

False

In [11]:
t1 = datetime.timedelta(hours=5, minutes=2)
t2 = datetime.timedelta(hours=2.5, minutes=1)
t1/t2 # 2.0

2.0

In [16]:
delta2 > delta1 # True
#delta2 > 5 # TypeError: '>' not supported between instances of 'datetime.timedelta' and 'int'

True

In [22]:
from datetime import timedelta

year = timedelta(days=365)
ten_years = 10*year
ten_years # datetime.timedelta(days=3650)

ten_years.days // 365 # 10

nine_years = ten_years - year
nine_years # datetime.timedelta(days=3285)

three_years = nine_years // 3
three_years, three_years.days//365 # (datetime.timedelta(days=1095), 3)

(datetime.timedelta(days=1095), 3)

In [25]:
from datetime import date

date.fromisoformat('2019-12-04')  # datetime.date(2019, 12, 4)
date.isoformat(date(2021,11,13)) # '2021-11-13'

datetime.date(2019, 12, 4)

In [27]:
d = date(2021, 12, 21)
d.replace(day=31) # datetime.date(2021, 12, 31)

datetime.date(2021, 12, 31)

In [33]:
date.today().toordinal() - date(d.year,1,1).toordinal()

197

In [37]:
date(2003, 12, 29).isocalendar() # datetime.IsoCalendarDate(year=2004, week=1, weekday=1)
date(2004, 1, 4).isocalendar() # datetime.IsoCalendarDate(year=2004, week=1, weekday=7)

datetime.IsoCalendarDate(year=2004, week=1, weekday=7)