In [1]:
import pandas as pd
import numpy as np


dates = pd.date_range("20250101", periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281
2025-01-02 -1.267467  1.724009  1.445271  0.301023
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052
2025-01-05 -0.456976  1.119499  1.385428  1.903001
2025-01-06  0.163535 -2.092509 -1.635061 -0.176160

In [3]:
df1 = df.reindex(index=dates[0: 4], columns=list(df.columns) + ['E'])
df1.iloc[0:2,4] = 1
df1

                   A         B         C         D    E
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281  1.0
2025-01-02 -1.267467  1.724009  1.445271  0.301023  1.0
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098  NaN
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052  NaN

In [5]:
df1.dropna()

                   A         B         C         D    E
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281  1.0
2025-01-02 -1.267467  1.724009  1.445271  0.301023  1.0

In [7]:
df1.fillna(5)

                   A         B         C         D    E
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281  1.0
2025-01-02 -1.267467  1.724009  1.445271  0.301023  1.0
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098  5.0
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052  5.0

In [11]:
s = pd.Series([1, 3, 1, np.nan, 6, 8], index=dates).shift(2)
s

2025-01-01    NaN
2025-01-02    NaN
2025-01-03    1.0
2025-01-04    3.0
2025-01-05    1.0
2025-01-06    NaN
Freq: D, dtype: float64

In [12]:
df

                   A         B         C         D
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281
2025-01-02 -1.267467  1.724009  1.445271  0.301023
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052
2025-01-05 -0.456976  1.119499  1.385428  1.903001
2025-01-06  0.163535 -2.092509 -1.635061 -0.176160

In [13]:
df.sub(s, axis="index")

                   A         B         C         D
2025-01-01       NaN       NaN       NaN       NaN
2025-01-02       NaN       NaN       NaN       NaN
2025-01-03 -1.895591 -1.778699 -0.811769 -1.193098
2025-01-04 -3.913413 -3.503352 -3.775498 -4.805052
2025-01-05 -1.456976  0.119499  0.385428  0.903001
2025-01-06       NaN       NaN       NaN       NaN

In [18]:
df

                   A         B         C         D
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281
2025-01-02 -1.267467  1.724009  1.445271  0.301023
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052
2025-01-05 -0.456976  1.119499  1.385428  1.903001
2025-01-06  0.163535 -2.092509 -1.635061 -0.176160

In [17]:
df.A.transform(lambda x: x*100)

2025-01-01    -65.226109
2025-01-02   -126.746675
2025-01-03    -89.559053
2025-01-04    -91.341332
2025-01-05    -45.697648
2025-01-06     16.353544
Freq: D, Name: A, dtype: float64

In [21]:
df.agg(lambda x: np.mean(x) * 100)

A   -67.036212
B   -12.712109
C    -7.328411
D     0.783257
dtype: float64

In [24]:
pd.concat([df, df]).value_counts()

A          B          C          D
-1.267467   1.724009   1.445271   0.301023    2
-0.913413  -0.503352  -0.775498  -1.805052    2
-0.895591  -0.778699   0.188231  -0.193098    2
-0.652261  -0.231675  -1.048076   0.017281    2
-0.456976   1.119499   1.385428   1.903001    2
 0.163535  -2.092509  -1.635061  -0.176160    2
Name: count, dtype: int64

In [25]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [26]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [28]:
df1 = df.copy(deep=True)
df1.columns = df.columns.str.lower()
df1

                   a         b         c         d
2025-01-01 -0.652261 -0.231675 -1.048076  0.017281
2025-01-02 -1.267467  1.724009  1.445271  0.301023
2025-01-03 -0.895591 -0.778699  0.188231 -0.193098
2025-01-04 -0.913413 -0.503352 -0.775498 -1.805052
2025-01-05 -0.456976  1.119499  1.385428  1.903001
2025-01-06  0.163535 -2.092509 -1.635061 -0.176160

In [29]:
df.join(df1)

,A,B,C,D,a,b,c,d
2025-01-01,-0.652261,-0.231675,-1.048076,0.017281,-0.652261,-0.231675,-1.048076,0.017281
2025-01-02,-1.267467,1.724009,1.445271,0.301023,-1.267467,1.724009,1.445271,0.301023
2025-01-03,-0.895591,-0.778699,0.188231,-0.193098,-0.895591,-0.778699,0.188231,-0.193098
2025-01-04,-0.913413,-0.503352,-0.775498,-1.805052,-0.913413,-0.503352,-0.775498,-1.805052
2025-01-05,-0.456976,1.119499,1.385428,1.903001,-0.456976,1.119499,1.385428,1.903001
2025-01-06,0.163535,-2.092509,-1.635061,-0.176160,0.163535,-2.092509,-1.635061,-0.176160

In [33]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

left.merge(right, on='key', how='inner')

   key  lval  rval
0  foo     1     4
1  bar     2     5